torch
joblib
requests
fastapi
pydantic
pytz
docopt
pyairtable
uvicorn[standard]
elasticsearch
elasticsearch_dsl
numpy
scipy
pandas
scikit-learn==0.23.2
transformers
black
google-cloud-firestore
sendgrid
