// -- import fonts from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

// -- variables/constants
// fonts
$header-font: "Nunito";
$body-font: "Open Sans";
$fallback-mac-font: "Helvetica";
$fallback-font: sans-serif;
// media breakpoints
$media-extra-small: 576;
$media-small: 768;
$media-medium: 992;
$media-large: 1200;
$media-extra-large: 1200;

// -- normalize
html,
body {
  font-family: $body-font, $fallback-mac-font, $fallback-font;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font;
  }

  margin: 0;
  padding: 0;
}

// -- global-style
// TODO: how should I define dark/light theme colors?
// using sass variables seem to be more handy
// - but need to check how to toggle

html,
body {
  // custom scroll
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// width and margin-left can be overwritten inline
// margin-left = width / 2 (unit is vw)
.grow-over-parent-padding {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -(100/2) vw;
}

// ---- TBC
// $font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
//   Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// html,
// body {
//   margin: 0;
//   padding: 0;
// }
// * {
//   margin-top: 0;
// }
// body.light {
//   --primary-color: #381696;
//   --primary-text-color: #fff;
//   --featured-bg: #493b8a;
//   --featured-text: #fff;
//   --secondary-color: #10072b;
//   --background: #fff;
//   --site-header: var(--background);
//   --card-bg: #fff;
//   --card-bdr: #eee;
//   --card-shadow: #d5d5d5;
//   --btn-bg: var(--background);
//   --btn-bdr: #d3d6e7;
//   --btn-text-color: #868892;
//   --btn-hover-bg: var(--btn-bdr);
//   --btn-hover-text-color: #00062b;
//   --contact-bg: #f7f8fe;
//   --contact-bdr: #d3d6e7;
//   --input-bg: var(--background);
// }
// body.dark {
//   --primary-color: #9984d5;
//   --primary-text-color: #fff;
//   --featured-bg: #66578d;
//   --featured-text: #fff;
//   --secondary-color: #66578d;
//   --background: #0a041a;
//   --text-color: rgba(255, 255, 255, 0.88);
//   --text-secondary-color: rgba(255, 255, 255, 0.66);
//   --site-header: var(--background);
//   --card-bg: #181326;
//   --card-bdr: #181326;
//   --card-shadow: #020204;
//   --btn-bg: var(--background);
//   --btn-bdr: #d3d6e7;
//   --btn-text-color: #868892;
//   --btn-hover-bg: var(--btn-bdr);
//   --btn-hover-text-color: #00062b;
//   --contact-bg: var(--card-shadow);
//   --contact-bdr: var(--card-bg);
//   --input-bg: var(--card-bg);
// }

// @import "./index";
// @import "./people";
// @import "./publication";
// @import "./prism-overwrite";
